
.error {
	background: center center url('../images/404.gif');
	// background-image: url('/images/404.gif');
	// background-position: center center;
	background-size: cover;
	height: 100%;

	.error-info {
		padding: 50px;
	}

	h1 {
		font-size: 68px;
		margin: 0;
	}

	h1, p {
		color: #fff;
	}

}