
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.App {
  height: 100%;
}

img {
  object-fit: cover;
}

// body {
//   font-family: $primary-font;
//   font-size: 14px;
//   padding: 50px;
// }

// a {
//   color: $primary-link;
// }
