
.footer {

	.footer__inner {
		margin: 35px 0 80px;
		padding-top: 35px;
		border-top: 1px solid #efefef;
		
		p {
			font-size: .8em;
			color: #ccc;

			@media screen and (max-width: $mobile) {
				text-align: center;
			}

			a {
				color: #8E8E8E;
				font-weight: bold;
			}
		}
	}

}