
html, body {
	margin: 0;
	height: 100%;
	width: 100%;

	&.fixed {
		// overflow: hidden;

		.page {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}

.wrap {
	height: 100%;
}

.page {
	height: 100%;
}


// Page transition example
.example-enter {
	opacity: 0.00;
	transition: opacity .5s ease-in;

	&.example-enter-active {
		opacity: 1;
	}
}

.example-leave {
	transition: opacity .5s ease-in;

	.example-leave-active {
		opacity: 0.00;
	}
}


// General values
img {
	width: 100%;
	height: auto;
	display: block;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.go-back {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
