
html, body {
	margin: 0;
	height: 100%;
	width: 100%;

	&.fixed {
		// overflow: hidden;

		.page {
			// overflow-y: scroll;
			// -webkit-overflow-scrolling: touch;
		}
	}
}

.wrap {
	height: 100%;
}

.page {
	height: 100%;
}


// Page transition example
.example-enter {
	opacity: 0.00;
	transition: opacity .5s ease-in;

	&.example-enter-active {
		opacity: 1;
	}
}

.example-leave {
	transition: opacity .5s ease-in;

	.example-leave-active {
		opacity: 0.00;
	}
}


// General values
img {
	width: 100%;
	height: auto;
	display: block;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


// Styles
.head-page-style {
	background: $menu;
	color: #fff;
	text-transform: capitalize;
}

.footer-page-style {
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
}

.paper-style {
	background: #fff;
	padding: 5px;
	@include border-radius(4px);
	@include box-shadow(0, 0, 5px, -1px, rgba(0,0,0,.2));
	margin-bottom: 20px;
}


// Animation
.moveDown {
	@include animation-name(moveDown);
}

@include keyframes(moveDown) {
	from {
		@include transform(translate3d(0, -100%, 0));
	}
	to {
		@include transform(none);
	}
}

.moveUp {
	@include animation-name(moveUp);
}

@include keyframes(moveUp) {
	from {
		@include transform(translate3d(0, 100%, 0));
	}
	to {
		@include transform(none);
	}
}
