
html, body {
	height: 100%;
	margin: 0;
	background: $menu;
	overflow: hidden;
	width: 100%;
	height: 100%;
}


.wrap {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.head-page-style {
	background: $menu;
	color: #fff;
	text-transform: capitalize;
}

.footer-page-style {
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
}

// body {
//   font-family: $primary-font;
//   font-size: 14px;
//   padding: 50px;
// }

// a {
//   color: $primary-link;
// }
