
.error-page {
	background: center center url('../images/404.gif');
	background-size: cover;
	width: 100%;
	display: table;
	@extend .full-size-style;

	.error__inner {
		height: 100%;
		text-align: center;
		background: black;
		opacity: .6;
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		font-size: 68px;
		margin: 0;
	}

	h1, p {
		color: #fff;
	}

	.footer {
		@extend .footer-page-style;

		.footer__inner {
			border: none;
			margin-top: 0;
		}

		p {
			font-size: .8em;
			color: #D0D0D0;

			a {
				color: #fff;
				font-weight: bold;
			}
		}
	}

}