
.error {
	background: center center url('../images/404.gif');
	background-size: cover;
	height: 100%;
	width: 100%;
	display: table;

	.error__info {
		height: 100%;
		text-align: center;
		background: black;
		opacity: .6;
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		font-size: 68px;
		margin: 0;
	}

	h1, p {
		color: #fff;
	}

}