
.home-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/home.jpg');
	@extend .full-size-style;

	// Ul
	.home__title {
	  padding-top: 80px;
	  height: 100%;
		height: calc(100% - 100px);

		li {
			text-align: center;
			display: table;
			height: 100%;
			float: left;
			width: 33.33%;

			@media screen and (max-width: 480px) {
				width: 100%;
				height: 33.33%;
			}

			a {
				vertical-align: middle;
				display: table-cell;
				color: #242424;
				font-size: 1.2em;
				font-weight: bold;
				text-transform: uppercase;
				position: relative;

				span {
					@include transition(border 0.4s);
					border: 2px solid transparent;
				  display: inline;
				  padding: 15px 20px;
				  text-align: center;
			  	@include border-top-radius(3px);
			  	@include border-right-radius(3px);
			  	@include border-bottom-radius(3px);
			  	@include border-left-radius(3px);

			  	@media screen and (max-width: $mobile) {
						border-color: #C2C2C2;
						background: rgba(255, 255, 255, .5);
			  	}
				}

				@media screen and (min-width: $mobile) {
					&:hover {
						span {
							border-color: #C2C2C2;
						}
					}
				}
				
			}
		}
	}
}

