
.home-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/home.jpg');
	@extend .full-size-style;

	// Ul
	.home__title {
		display: table;
		height: 100%;
		height: calc(100% - 100px);
	  width: 100%;
    padding-top: 70px;

		@media screen and (max-width: $mobile) {
		  padding: 120px 0 50px;
		}

		li {
			width: 33.33%;
		  height: 100%;
			text-align: center;

			@media screen and (max-width: $mobile) {
				width: 100%;
				height: 33.33%;
			}			
			@media screen and (min-width: $mobile) {
				vertical-align: middle;
				display: table-cell;
			}

			a {
				color: #242424;
				position: relative;

				&::before {
					content: "";
					width: 5px;
					height: 5px;
					background: $menu;
					position: absolute;
				  bottom: -36px;
				  opacity: 0;
				  @include transition(opacity 0.2s);
				  @include border-top-radius(50%);
			  	@include border-right-radius(50%);
			  	@include border-bottom-radius(50%);
			  	@include border-left-radius(50%);
				}

				.title {
					font-size: 1.2em;
					font-weight: bold;
					text-transform: uppercase;
					@include transition(transform 0.2s);

					@media screen and (max-width: $mobile) {
					  margin-top: .6em;
					}
					@media screen and (min-width: $mobile) {
						margin-bottom: .4em;	
					}
				}

				.desc {
					font-style: italic;
					font-size: .9em;
					@include transition(transform 0.2s);

					@media screen and (max-width: $mobile) {
						color: #999;
					}
					@media screen and (min-width: $mobile) {
						color: #999;
					}
				}

				span {
				  display: block;
				}

				@media screen and (min-width: $mobile) {
					&:hover {
						&::before {
							opacity: 1;
						}

						.title {
							@include transform(translateY(-10px));
						}
						.desc {
							@include transform(translateY(10px));
						}

					}
				}
				
			}
		}
	}
}

