
.list-page {
	padding-top: 100px;
	background: #fff;

	.shot {
		@extend .paper-style;

		.shot__link {
			background: #F7F7F7;
			display: block;
		}

		.shot__player {
			display: block;
			margin-top: -15px;
			margin-bottom: 10px;
			padding-left: 5px;

			@media screen and (max-width: $mobile) {
				margin-top: -30px;
			}

			.img-avatar {
				width: 42px;
				height: 42px;
				margin: 0;
				position: relative;
				overflow: hidden;
				@include border-radius(50%);
				@include box-shadow(0, 2px, 2px, 0, rgba(0, 0, 0, 0.05));
				border: 2px solid #fff;
				background: #fff;

				@media screen and (max-width: $mobile) {
					width: 60px;
					height: 60px;
				}
			}
		}

		.shot__player-name {
			font-size: .7em;
			text-align: right;
			float: right;
			margin-top: -15px;
			color: #999;
			white-space: nowrap;
			@include ellipsis(70%);
		}

	}
	
}