
.list-page {
	padding-top: 100px;
	background: #fff;

	.img-avatar {
		width: 42px;
		height: 42px;
		margin: 0;
		@include border-radius(50%);
		@include box-shadow(0, 0, 0, 2px, #fff);
		overflow: hidden;
	  position: relative;
	  background: #fff
	}

	.shot {
		@extend .paper-style;

		.shot__link {

		}

		.shot__player {
			display: block;
			margin-top: -15px;
			padding-left: 5px;
		}

		.shot__player-name {
			font-size: .7em;
			text-align: right;
		  float: right;
			margin-top: -15px;
			color: #999;
			white-space: nowrap;
			@include ellipsis(70%);
		}

	}
	
}