
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: $menu;

  height: 100%;
  width: 100%;
  display: table;

  .loading__inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    font-size: 2em;
    color: #fff;
  }
}