
/* Menu Button */
.menu__open-button {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 70;
	padding: .95em 1.2em;
	font-size: 1.5em;
	background: transparent;
	color: darken($menu, 30%);
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}


/* Close Button */
.menu__close-button {
	position: absolute;
	right: 1em;
	top: 1em;
	background: transparent;
	opacity: .6;

	&:hover {
		opacity: 1;
	}
}


/* Background */
.bg {
	position: fixed;
	background: black;
	opacity: 0;
	z-index: 1000;
	cursor: pointer;
	@include transition(opacity 0.8);
	// @include transition-timing-function(ease-in-out);
	// @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	@include transform(translate3d(0, 0, 0));
}

/* Menu */
.menu {
	position: fixed;
	z-index: 1001;
	width: 300px;
	height: 100%;
	top: 0;
	background: #fff;
	@include transform(translate3d(-320px, 0, 0));
	@include transition(transform 0.2s);
	// @include transition-timing-function(ease-in-out);
	// @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	@include box-shadow(5px, 0, 20px, 0, rgba(0,0,0,.2));

	.menu__title {
		@extend .head-page-style;
		position: relative;
		padding: 23px 0 22px 35px;

		a {
			color: #fff;
		  margin: 0;
	    line-height: 1.2;
	    font-weight: bold;
		}
	}

	.menu__items,
	.menu__items a {
		@include transition(transform 0.4s);
		// @include transition-timing-function(ease-in-out);
		@include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	}

	.menu__inner, 
	.menu__items {
		height: 100%;

		a {
			@include transition(transform 0s 0.2s);
		}
	}
	.menu__items {
		@include transform(translate3d(0, 100%, 0));
	  margin-top: 15px;

		a {
			display: block;
			position: relative;
			padding: 15px 30px;
			color: #616161;
			@include transform(translate3d(0, 500px, 0));

			&.active {
				&::before {
					content: "";
					position: absolute;
					top: 50%;
				  margin-top: -8px;
					left: 0;
					@include triangle(16px, $menu, right);
				}
				
			}

			@for $i from 1 through 10 {
				&:nth-of-type(#{$i}) {
					@include transform(translate3d(0, #{$i * 500}px, 0));
				}
			}
		}
	}	
}


/* Shown menu */
.show-menu {
	
	.bg {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .5;
		z-index: 1000;
		cursor: pointer;
		@include transition(opacity 0.8s);
		// @include transition-timing-function(ease-in-out);
		// @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
		@include transform(translate3d(0, 0, 0));
	}

	.menu {
		@include transform(translate3d(0, 0, 0));
		@include transition(transform 0.4s);
		// @include transition-timing-function(ease-in-out);
		// @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	
		.menu__items, 
		.menu__items a {
			@include transform(translate3d(0, 0, 0));
		}
		.menu__items a {
			@include transition-duration(0.9s);
		}
	}
}
